body {
	margin-top: 60px;
	background-color: rgba(220,220,220,0.5);
}

.white-block {
	background-color: white;
	width: 400px;
	margin-right: auto;
	margin-left: auto;
	border: 5px solid white;
}

#margin {
	margin-left: 25px;
}